.contact-form form {
    background-color: $grey-xl;
    padding: 30px;
    border-radius: 10px;

    .grid-2 {
        gap: 0;

        @include mq('lg') {
            .form-group {
                &:first-child {
                    padding-right: 15px;
                }
                &:last-child {
                    padding-left: 15px;
                }
            }
        }
    }

    textarea {
        width: 100%;
        height: 100px;
        padding: 5px 15px;
        color: #888;
        opacity: 1;
        font-size: 14px;
        border: solid 1px #ccc;
        &::placeholder {
            color: #888;
            opacity: 1;
        }
        
        &:focus {
            border-color: #5bc0de;
            outline: 0;
            box-shadow:
                inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(91, 192, 222, 0.6);
        }
    }

    input {
        color: #888;
        font-size: 14px;
    }

    .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .required-notice {
            color: #333645;
            font-size: 14px;
            span {
                color: $red;
            }
        }
    }

    .recaptcha {
        font-size: 11px;
        font-weight: 600;
        line-height: 1.42857143;
        color: #333645;
        a {
            color: #333645;
            text-decoration: underline;
            &:hover {
                color: #121419;
            }
        }
    }
}