//  ================================
//  Variables
//  ================================

//  Font Variables

$font-url: 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600';
$font-family: 'Poppins', sans-serif;

@if variable-exists(font-url) {
    @import url($font-url);
}

$font-normal: 400;
$font-bold: 600;


//  Colors

$white: #ffffff;

$grey-xl: #84858f;
$grey-l: #999aa2;
$grey: #333645;
$grey-d: #272936;
$grey-xd: #212330;
$black: #121318;

// $hoki: #67809f;
// $blue: #4183d7;
// $green: #2ecc71;
// $red: #d64541;
// $purple: #926fb1;
// $radical-red: #f62459;
// $punch: #ce4125;
$gold: #ffa500;

$services-colors: (
    'bs': #67809f,            //  Bespoke Software
    'it': #4183d7,            //  IT Support
    'dm': #2ecc71,           //  Digital Marketing
    'ts': #d64541,             //  Telecoms Services
    'wd': #926fb1,          //  Web Design
    'cs': #f62459,     //  Cyber Security
    'dt': #ce4125            //  Developer Training
);

$social-media-colors: (
    'facebook': #3b5998,
    'linkedin': #0077b5,
    'twitter': #00aced,
    'instagram': #d93175
);

$support-color: $blue;
$support-hover: $blue-d;

$google: #4387f6;
$google-hover: #166af4;

$trustpilots: #00b67b;
$trustpilots-hover: #009b69;

$darken: 10%;
$lighten: 10%;