.offices {
    padding-bottom: 40px !important;
    
    &.grid-2 {
        gap: 0;
        @include mq('lg') {
            gap: 30px;
        }
    }
    
    .office {
        margin-top: 30px;
        @include mq('lg') {
            margin-top: 0;
        }
        
        .map {
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            
            img {
                overflow: hidden;
                height: auto;
                width: 100%;
                object-fit: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}