
.footer {
    // @include theme-dark;


    & &-content {
        @include mq('xl') {
            display: flex;
            justify-content: space-between;
            gap: 80px;
        }
        @include mq('1024'){
            .grid-4 {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    .logo {
        width: 250px;
        @include mq('480') {
            width:320px;
        }
    }
    .social-media-section {
        display: flex;
        .social-media {
            display: flex;
            width: auto;
            flex-wrap: wrap;
            margin-bottom: 30px;

            @include mq('md') {
                flex-wrap: nowrap;
                width: 90%;
            }
        }
    }

    h4 {
        color: $white;
        font-weight: $font-normal;
        text-transform: uppercase;
        margin-bottom: 26px;
    }

    .company-info {
        & h4 {
            margin-top: 24px;
        }
    }

    .site-links{
        div {
            margin-bottom: 30px;
        }

        a {
            color: $white;
            font-size: .8125rem;
            line-height: em(22px);
            &:hover {
                text-decoration: underline;
            }
        }
        ul {
            padding-left: 0;
            margin: 0;
            li {
                list-style-type: none;
                font-size: .8125rem;
                line-height: 1.375rem;
            }
        }

    }


    .license {
        background-color: $grey-xd;
        padding: 15px;
        font-size: em(13px);
        line-height: em(16px);
        color: $white;
        a {
            color: $white;
        }
        span {
            display: inline !important;
        }
    }
}