
.footer {
    // @include theme-dark;
    .logo {
        width: 250px;
    }
    h4 {
        color: $white;
        font-weight: $font-normal;
        text-transform: uppercase;
        margin-bottom: 26px;
    }

    .company-info {
        & h4 {
            margin-top: 24px;
        }
        margin-bottom: 30px;
    }

    .site-links{
        a {
            color: $white;
            font-size: .8125rem;
            line-height: em(22px);
            &:hover {
                text-decoration: underline;
            }
        }
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
            }
        }

    }


    .license {
        background-color: $grey-xd;
        padding: 15px;
        font-size: em(13px);
        line-height: em(16px);
        color: $white;
        a {
            color: $white;
        }
    }
}