.header {
    padding-top: 20px;
    
    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .company-logo img {
            margin: auto 0;
            max-width: 100%;
        }

        .buttons {
            display: flex;
            align-items: center;

            float: right;
            & > *  {
                margin-top: 0;
                margin-left: 20px;
            }

            & .btn {
                height: 56px;
                line-height: 46px;
                font-size: 1.125rem;
                float: left;
                span {
                    font-size: 1.438rem;
                    line-height: 45px;
                    // margin-right: 0;
                }
            }
            
        }
    }
}

