.newsletter {
    background-color: $grey-xl;
    .form-newsletter {

        .form-text-group {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: -15px;
            margin-right: -15px;
            .form-group {
                flex: 1 1 450px;
                padding-left: 15px;
                padding-right: 15px;
                
            }

            input {
                width: 100%;
                height: 47px;
                padding: 5px 15px;
                background-color: #fff;
                border: 1px solid #e5e5e5;
                border-radius: 2px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                border-color: #ccc;
                &:focus{
                    border-color: #5bc0de;
                    outline: 0;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
                }
            }
        }

        .form-checkbox {
            .form-checkbox-input {
                display: none;
                
                &:checked { 
                    &+ .form-checkbox-label .form-checkbox-icon::before {
                        font-family: 'icomoon';
                        content: "\e918";
                    }
                    &+ .form-checkbox-label .form-checkbox-button {
                        background-color: #333645;
                    }
                }
            }

            .form-checkbox-label {
                cursor: pointer;
                .media-left {
                    display: table-cell;
                    vertical-align: top;

                }
                .form-checkbox-button {
                    border-radius: 3px;
                    border: 3px solid #333645;
                    height: 32px;
                    width: 32px;
                    position: relative;
                    float: left;
                    margin-right: 20px;

                    .form-checkbox-icon {
                        font-weight: 400;
                        line-height: 26px;
                        text-align: center;
                        font-size: 22px;
                        color: #fff;
                        display: block;
                    }
                    a {
                        color: $text-light;
                        text-decoration: underline;
                    }
                }
            }
        }

    } 
}