.banner {
    @extend %clearfix;
    position: relative;

    min-height: 550px;
    
    & &-box {
        position: relative;
        background-color: #000;
    }
    &-image {
        img {
            position: absolute;
            margin: 0 auto;
            object-fit: cover;
            overflow: hidden;
            // min-height: 601px;
            // width: 100%;
            height: 100%;
        }
        &::after {
            content: "";
            position: absolute;
            // opacity: 0.55;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    &-image-effect {
        opacity: 0.5;

        @include mq("lg") {
            opacity: 1;
            &::after {
                background-image: linear-gradient(270deg, transparent 25%, black);
            }
        }
    }
    &-content {
        // background: ;
        // linear-gradient($black, transparent);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        min-height: 550px;
        max-width: 1200px;
        position: relative;
        margin: auto auto;
        text-align: center;
        color: $text-dark;
        padding: 60px 30px;

        // background-color: rgba(1,1,1,.5);

        h1 {
            color: $text-dark;
            font-weight: $font-bold;
            font-size: 2.5rem;
            line-height: 3rem;
            margin: 0 0 1.25rem;
        }
        p {
            font-weight: $font-bold;
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-top: 0;
            margin-bottom: 6px;
        }

        a {
            margin-top: 1.938rem;
            margin-bottom: 1.125rem;
        }

        @include mq("lg") {
            text-align: left;
            align-content: start;
            align-items: start;
            h1 {
                font-size: 4rem;
                line-height: 5rem;
            }
            p {
                font-size: 1.625rem;
                line-height: 2.5rem;
            }
        }
    }
}

.owl-theme {
    .owl-dots {
        position: absolute;
        bottom: 44px;
        left: 0;
        right: 0;

        .owl-dot {
            line-height: 1.42857143;
            span {
                background-color: hsla(0, 0%, 100%, 0.5);
                margin: 0 10px;
                width: 11px;
                height: 11px;
            }
            &.active {
                span {
                    background-color: #fff;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        top: -6px;
                        left: -6px;
                        width: 19px;
                        height: 19px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                    }
                }
            }
        }
    }
}
