@mixin button-base {
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
    width: auto;
    height: auto;
    line-height: 35px;
    border: none;
    border-radius: 3px;
    color: $btn-text;
}

@mixin button-large($extend: null) {
    &-lg{
        @extend .btn;
        @if ($extend != null) {
            @extend .btn-#{$extend};
        }
        
        margin-top: 20px;
        margin-right: 8px;
        padding: 5px 20px;
        font-size: 20px;
        line-height: 50px;
        @content;
    }
}


.btn {
    display: inline-block;
    padding: 5px 15px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 3px;
    color: $btn-text;
    text-transform: uppercase;
    line-height: 35px;


    & [class^="icon-"], & [class*=" icon-"] {
        line-height: 45px;
        margin-right: 5px;
    }

    @include button-large();

    &-dark {
        @extend .btn;
        background-color: $btn-dark;
        &:hover {
            background-color: #121318;
        }
        @include button-large('dark');
    }

    &-light {
        @extend .btn;
        background-color: $white;
        color: $black;
        &:hover {
            background-color: $white;
        }
        @include button-large('dark') {
            border-radius: 6px;
        }
    }
    


    @each $service, $color in $service-colors {
        &-#{$service} {
            @extend .btn;
            background-color: get-service-color($service);
            color: $btn-text;
            &:hover {
                background-color: get-service-color($service, hover);
            }
            @include button-large($service) {
                
                &:hover {
                    background-color: get-service-color($service, hover);
                }
            }
        }
    }

    &-google {
        @extend .btn;
        background-color: $google;
        &:hover {
            background-color: $google-hover;
        }
        @include button-large('google') {
            border-radius: 6px;
        }
    }

    &-trustpilot {
        @extend .btn;
        background-color: $trustpilot;
        &:hover {
            background-color: $trustpilot-hover;
        }
        @include button-large('trustpilot') {
            border-radius: 6px;
        }
    }
    
    &-support {
        background-color: get-service-color('it-support');
        border-radius: 3px;
        &:hover {
            background-color: get-service-color('it-support', hover);
        }
    }

    &-contact {
        background-color: $grey-l;
        border-radius: 3px;
        &:hover {
            background-color: darken($grey-l, 10%);
        }
    }

    &-social-media {
        @each $social-media, $color in $social-media-colors {
            &-#{$social-media} {
                @extend .btn;
                padding: 12px 22px 16px;
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: $grey-xd;
                font-size: 26px;
                &:hover {
                    background-color: map-get($color, 'base');
                }
            }
        }
    }
}