
.container {
    padding: $base-padding;

    &-footer {
        padding-bottom: 27px;
    }

    @include service-themes;

    &-dark {
        background-color: $bg-dark;
        color: $text-dark;
        h2 {
            color: $text-dark;
        }
    }
}