.section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;

    &.bottom {
        padding-top: 0;
    }

    & .section-heading {
        text-align: center;
        font-weight: $font-bold;

        a {
            color: $text-light;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h2 {
        font-size: 2.25rem;
    }
}

.section-heading {
    text-align: center;
    font-weight: $font-bold;

    a {

        color: #333645;

        &:hover {
            text-decoration: underline;
        }
    }
}

.bar {
    padding-top: 50px;
}

.container {

    &::after {
        clear: both;
    }

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq('md') {
        width: 750px;
    }

    @include mq('lg') {
        width: 970px;
    }

    @include mq('xl') {
        width: 1200px;
    }

    .heading {
        font-weight: $font-bold;
        font-size: 43.2px;
        align-self: flex-start;
        text-align: left;
        margin: 0 0 28px;

        @include mq('md') {}
    }

    &-footer {
        padding-bottom: 27px;
    }

    @include service-themes;

    &-dark {
        background-color: $bg-dark;
        color: $text-dark;

        h2 {
            color: $text-dark;
        }
    }


    .rating {
        font-size: em(48px);
        color: $gold;
    }

    &.page-head {
        background-color: #333645;
        margin: 0!important;
        width: auto!important;
        .section {
            padding: 24px 0;
        }

        h1 {
            color: $text-dark;
            margin: 0;
        }


        @include mq('lg') {
            background-color: transparent;
            margin: 0 auto!important;
            width: 970px!important;
            padding-top: 50px;
            h1 {
                color: $text-light;
                margin: 0 0 48px;
            }
            .section {
                padding-top: 0;
                padding-bottom:  28px;
            }
        }

        @include mq('lg', true) {
            .section {
                margin-bottom: 50px;
            }
        }

        @include mq('xl') {
            width: 1200px!important;
        }
    }
}

.inner {
    padding: 20px 0;
}