.contact-us {

    @include mq('xl') {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info {
        p {
            margin-top: 0;
        }

        @include mq('xl') {
            order: 1;
            padding-left: 15px;
            width: 33.33333333%;
        }

        strong {
            color: #333645;
        }


        .email {
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.contact-form {

    // padding-left: 15px;
    @include mq('xl') {
        padding-right: 15px;
        width: 66.66666667%;
    }
}


.tel {
    margin-bottom: 15px;

    a:hover {
        text-decoration: underline;
    }
}