.nav-bar {
    display: none;
    @include mq (lg){
        display: block;
    }

    ul {
        display: flex;
        // flex-direction: row;
        margin-bottom: 0;
        
        @each $service, $color in $service-colors {
            .#{$service} {
                span {
                    color: get-service-color($service);
                }
                &:hover{
                    background-color: get-service-color($service, 'hover');
                    span {
                        color: $white;
                    }
                    &  .sub-menu-container {
                        background-color: get-service-color($service);
                    }
                    
                }

            }
        }

        li {
            flex: 1;
            list-style: none;
            text-align: center;
             a {
                position: relative;
                display: block;
                color: $white;
                padding: 19px 0 18px;
                text-transform: uppercase;
                font-size: 1.125rem;
                text-decoration: none;
                line-height: 1;

                span {
                    font-size: 1.438rem;
                    display: block;
                    padding-bottom: 10px;
                }
            }
            small {
                display: block;
            }

            & .sub-menu-container {
                display: none;
                margin: 0;
                position: absolute;
                left: 0;
                min-width: 100vw;
                z-index: 10;
                padding-top: 50px;
                padding-bottom: 50px;
            }
            
            &:hover {
                &  .sub-menu-container {
                    display: block;
                }
            }
        }
    }

    & .sub-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
            min-width: 33%;
            text-align: left;

            h2{
                margin-bottom: 0;
            }
        }
        & li:first-child {
            display: block;
            min-width: 100%;
            color: #fff !important;
            margin-bottom: 10px;
            margin-top: 15px;
            font-weight: 500;
        }
    }
}

//  default style of hidable nav-menu
.nav-menu {
    // hide by default
    display: none;
    padding: 21px;
    ul{ 
        padding-left: 0;
        li {
            list-style: none;
        }
    }

    .nav-button {
        font-size: 1.125rem;
        text-decoration: none;
        padding: 19px 0 18px;
        display: block;
        border-radius: 5px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid rgba(0, 0, 0, .1);
    }

    .nav-group {
        & .nav-button {
            background-color: rgba(0,0,0,.25);
        }
    }
}

.btn-nav-menu {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
}