.nav-bar {
    display: none;
}

//  default style of hidable nav-menu
.nav-menu {
    // hide by default
    display: none;
    padding: 21px;
    ul{ 
        padding-left: 0;
        li {
            list-style: none;
        }
    }

    .nav-button {
        font-size: 1.125rem;
        text-decoration: none;
        padding: 19px 0 18px;
        display: block;
        border-radius: 5px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0, 0, 100%, .1);
    }

    .nav-group {
        & .nav-button {
            background-color: rgba(0,0,0,.25);
        }
    }
}

.btn-nav-menu {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    float: left;
}