.sidebar {
    $sidebar-padding: 21px;
    position: fixed;
    top: 0;
    right: 0;
    width: 275px;
    height: 100%;
    // padding: $sidebar-padding;
    margin: 0;
    z-index: 999;
    overflow-y: scroll;

    background-color: #333645;
    color: $white;

    margin: 0;
    padding: 0;
    @include mq('lg') {
        width: 350px;
    }

    .side-menu-container {
        padding: $sidebar-padding;
    }

    .side-menu {
        ul:first-child {
            // padding: $sidebar-padding;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 0;
        }
        .nav-item {
            background-color: #262934;
        }
    }

    a {
        display: block;
        padding: 19px 9px 18px;

        font-size: 1.125rem;
        text-align: center;
        text-transform: uppercase;

        border-radius: 3px;
        outline: 1px solid rgba(0, 0, 0, 0.25);
        border: 1px solid hsla(0, 0%, 100%, 0.1);
        font-size: 1rem;
        span {
            display: block;
            font-size: 1.438rem;
            padding-bottom: 10px;
        }
        small {
            display: block;
            font-size: 0.625rem;
            padding-bottom: 1px;
        }
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        margin: 0;
        &:hover .side-menu-title {
            background-color: hsla(0, 0%, 100%, 0.05);
        }
    }
    .side-menu-title {
        margin-bottom: 18px;
    }

    .side-menu-button {
        font-size: 1.125rem;
        line-height: 1.42857rem;
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.05);
        }
    }

    .side-menu-secondary {
        padding: 0;
        margin: 0;
        a {
            text-align: left;
            font-size: 1rem;
            border-top: 1px solid hsla(0, 0%, 100%, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            margin: 1px 0;
        }
        ul {
            margin: 0;
        }
        li {
            list-style: none;
            .sub-menu a {
                font-size: 0.875rem;
                &::before {
                    content: "\BB";
                    padding-right: 15px;
                }
            }
        }

        .side-menu-container {
            padding-top: 0;
            padding-bottom: 0;
        }
        .menu-item {
            margin-left: -$sidebar-padding;
            margin-right: -$sidebar-padding;
            a {
                padding-left: $sidebar-padding;
                padding-right: $sidebar-padding;
            }
        }
        .nav-item {
            background-color: #262934;
        }
    }
    @each $service, $color in $service-colors {
        .#{$service} {
            span {
                color: get-service-color($service);
            }
        }
    }
}

