.slideshow {
    
    position: relative;
    
    &-stage {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: end;
        gap: 70px;
        
        // overflow-x: hidden;

        .slideshow-item {
            // padding: 0 20px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            a {
                display: block;
            }
            
            &:hover .slideshow-tooltip,
            &:focus .slideshow-tooltip,
            &:active .slideshow-tooltip {
                display: block;
            }
            
            .slideshow-tooltip {
                display: none;

                position: absolute;
                bottom: 100%;
                margin: 0 auto 3rem;
                max-width: 280px;
                
                &-box{
                    width: 17.5rem;
                    padding: 20px;
                    background-color: $bg-dark;
                    color: $white;
                    font-size: .875rem;
                    text-align: center;
                    p {
                        color: $white;
                        font-size: .8125rem;
                        line-height: 1.375;
                        margin-top: 0;
                        margin-bottom: 0;
                        a {
                            display: inline;
                        }
                    }
                    h3 {
                        position: relative;
                        color: $white;
                        font-size: 1.125rem;
                        padding-bottom: 17px;
                        margin: 0;
                    }
                    a {
                        margin-top: 11px;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: $font-bold;
                        color: $white;
                        
                    }

                    .btn {
                        font-size: 16px;
                        font-weight: $font-normal;
                        text-transform: uppercase;
                        line-height: 1.375;
                        margin-bottom: 0;
                    }

                    .tooltip-pointer {
                        position: absolute;
                        bottom: -38px;
                        left: 50%;
                        margin-left: -36px;
                        &::after{
                            content: "";
                            margin: auto;
                            display: inline-block;
                            border-color: #333645 transparent transparent;
                            border-style: solid;
                            border-width: 35px 36px 0;
                        }
                    }
                }
            }
    
                
            img {
                position: relative;
                width: auto;
                height: 58px;
                // max-height: 70px;
                filter: grayscale(1);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }    
    }
}
