html {
    font-family: $font-family;
    background-color: $white;
    font-size: $font-size-base;
}

body {
    margin: 0 auto;
    line-height: em($font-size-base);
}

nav {
    display: block;
}

p {

}

h1 {

}

h2 {

}

img {
    width: 100%;
    height: auto;
}