* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
}

body {
    font-family: $font-family;
    line-height: em($base-font-size);
    letter-spacing: .4px;
    color: #666;
}

nav {
    display: block;
}

h1,h2,h3,h4 {
    line-height: 1.1;
}

h2, h3, h4 {
    font-weight: $font-normal;
    margin: 0 0 15px;
    color: $grey;
}

h1 {
    font-size: 2.25rem;
    font-weight: $font-normal;
    margin: 0 0 28px;
    color: $grey;
}

h2 {
    margin: -6px 0px 40px;
    font-size: 2rem;
    font-weight: $font-bold;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 1rem;
}
p {
    line-height: 1.875rem;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

footer {
    padding: 47px 0 0;
}

.wrapper {
    overflow-x: hidden;
}